<a href="https://colab.research.google.com/github/iammawaistariq/PAI-Lab/blob/main/Lab_1_Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.   Python - Modules and Packages**

**2.   Python - List and Dictionaries**

**Module** - A module is a Python file that’s intended to be imported into scripts or other modules. It often defines members like classes, functions, and variables intended to be used in other files that import it. The file name is the module name with the suffix ".py".


**Package (Library)** - A package is a collection of related modules that work together to provide certain functionality. These modules are contained within a folder and can be imported just like any other modules (e.g., NumPy, Pandas).

**Package Structure**
```
math_operations/
│── addition.py
│── subtraction.py
```

**Create a *math_operations* package**

In [1]:
!mkdir math_operations

**Create *addition.py* and *subtraction.py* modules**

In [2]:
#addition.py
%%writefile math_operations/addition.py
def add(a, b):
    return a + b

Writing math_operations/addition.py

In [3]:
#subtraction.py
%%writefile math_operations/subtraction.py
def subtract(a, b):
    return a - b

Writing math_operations/subtraction.py

**Use the Package**

In [4]:
from math_operations.addition import add
from math_operations.subtraction import subtract

# Using functions from the package
print(add(8, 3))  # Output: 11
print(subtract(10, 4))  # Output: 6

11
6

In [5]:
import math_operations.addition as math_op1
import math_operations.subtraction as math_op2

# Using functions from the package
print(math_op1.add(5, 3))  # Output: 8
print(math_op2.subtract(10, 4))  # Output: 6

8
6

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Move the Package to Google Drive**

In [8]:
#Move package from Session Storage to Google Drive
!mv '/content/math_operations' '/content/drive/MyDrive/Programming for AI_SPRING-25'

**Copy Package from Google Drive to Session Storage**

In [12]:
#Move package from Google Drive to Session Storage
!cp -r '/content/drive/MyDrive/Programming for AI_SPRING-25' '/content/math_operations'

### **Python - List**

**Python Range Function**

In [23]:
#Example 1: Using range() with one argument
#This will create a range from 0 to 9 (10 elements in total)
for i in range(10): print(i, end=" ") # Output: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

print("\n")
#Example 2: Using range() with two arguments
#This will create a range from 2 to 9 (7 elements in total)
for i in range(2, 10): print(i, end=" ") # Output: 2, 3, 4, 5, 6, 7, 8, 9

print("\n")
#Example 3: Using range() with three arguments
#This will create a range from 2 to 19, with a step of 3 (7 elements in total)
for i in range(2, 20, 3): print(i,end=" ") # Output: 2, 5, 8, 11, 14, 17

print("\n")
#Example 4: Using range() to create a list of numbers
#This will create a list of numbers from 2 to 19, with a step of 3 (7 elements in total)
my_list = list(range(2, 20, 3))
print(my_list, end=" ") # Output: [2, 5, 8, 11, 14, 17]

print("\n")
#Example 5: Using range() to iterate over the indices of a list
my_list = [10, 20, 30, 40, 50]
for i in range(len(my_list)): print(f"Index {i}: {my_list[i]}") # Output: Index 0: 10, Index 1: 20, Index 2: 30, Index 3: 40, Index 4: 50

0 1 2 3 4 5 6 7 8 9

2 3 4 5 6 7 8 9

2 5 8 11 14 17

[2, 5, 8, 11, 14, 17]

Index 0: 10
Index 1: 20
Index 2: 30
Index 3: 40
Index 4: 50

**Python Lists**

In [24]:
# Creating a list with square brackets
list_a = [1, 2, 3, 4, 5]

# Creating an empty list
empty_list = []



# Accessing elements by index
print(list_a[0])  # 1

# Accessing the last element using negative index
print(list_a[-1])  # 5

# Accessing a range of elements
print(list_a[1:4])  # [2, 3, 4]



# Modifying an element
list_a[2] = 10
print(list_a)  # [1, 2, 10, 4, 5]

# Modifying multiple elements using slicing
list_a[1:3] = [20, 30]
print(list_a)  # [1, 20, 30, 4, 5]



# Appending a single element
list_a.append(6)
print(list_a)  # [1, 20, 30, 4, 5, 6]

# Extending with another list
list_a.extend([7, 8, 9])
print(list_a)  # [1, 20, 30, 4, 5, 6, 7, 8, 9]



# Inserting an element at a specific position
list_a.insert(2, 100)
print(list_a)  # [1, 20, 100, 30, 4, 5, 6, 7, 8, 9]

# Removing an element by value
list_a.remove(100)
print(list_a)  # [1, 20, 30, 4, 5, 6, 7, 8, 9]

# Removing an element by index
del list_a[2]
print(list_a)  # [1, 20, 4, 5, 6, 7, 8, 9]



# Sorting a list
list_a.sort()
print(list_a)  # [1, 4, 5, 6, 7, 8, 9, 20]

# Reversing a list
list_a.reverse()
print(list_a)  # [20, 9, 8, 7, 6, 5, 4, 1]

1
5
[2, 3, 4]
[1, 2, 10, 4, 5]
[1, 20, 30, 4, 5]
[1, 20, 30, 4, 5, 6]
[1, 20, 30, 4, 5, 6, 7, 8, 9]
[1, 20, 100, 30, 4, 5, 6, 7, 8, 9]
[1, 20, 30, 4, 5, 6, 7, 8, 9]
[1, 20, 4, 5, 6, 7, 8, 9]
[1, 4, 5, 6, 7, 8, 9, 20]
[20, 9, 8, 7, 6, 5, 4, 1]

**List Operations (indexing, slicing, concatenation, repetition, and membership testing).**

In [25]:
# A three-item list
my_list = [10, 20, 30]

# Access the first element (index 0)
first_item = my_list[0]
print(first_item)  # Output: 10

# Slice from index 0 to 2 (not inclusive of 2)
sub_list = my_list[0:2]
print(sub_list)  # Output: [10, 20]

# Concatenate two lists
new_list = my_list + [40, 50]
print(new_list)  # Output: [10, 20, 30, 40, 50]

# Repeat the list three times
repeated_list = my_list * 3
print(repeated_list)  # Output: [10, 20, 30, 10, 20, 30, 10, 20, 30]

# Check if 20 is in the list
is_in_list = 20 in my_list
print(is_in_list)  # Output: True

# Get the length of the list
length = len(my_list)
print(length)  # Output: 3

# Minimum value in the list
min_value = min(my_list)
print(min_value)  # Output: 10

# Maximum value in the list
max_value = max(my_list)
print(max_value)  # Output: 30

# Iterating over the list
for item in my_list:
    print(item)
# Output:
# 10
# 20
# 30

10
[10, 20]
[10, 20, 30, 40, 50]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
True
3
10
30
10
20
30

**List Nesting**

In [26]:
# A list containing other lists
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(nested_list)
# Output: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]


# Accessing the first sublist
first_sublist = nested_list[0]
print(first_sublist)
# Output: [1, 2, 3]


# Accessing the first element of the first sublist
element = nested_list[0][0]
print(element)
# Output: 1


# Changing the value of an element
nested_list[1][2] = 60
print(nested_list)
# Output: [[1, 2, 3], [4, 5, 60], [7, 8, 9]]


# A deeply nested list
deeply_nested_list = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]]
print(deeply_nested_list)
# Output: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]]

# Accessing a deeply nested element
deep_element = deeply_nested_list[0][1][0][1]
print(deep_element)
# Output: 6


# Iterating through a nested list
for sublist in nested_list:
    for item in sublist:
        print(item, end=" ")
    print()
# Output:
# 1 2 3
# 4 5 60
# 7 8 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
1
[[1, 2, 3], [4, 5, 60], [7, 8, 9]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]]
6
1 2 3
4 5 60
7 8 9

**List Comprehension**

In [27]:
#simple list comprehension
squares = [x ** 2 for x in range(10)]
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


#With condition
even_squares = [x ** 2 for x in range(10) if x % 2 == 0]
print(even_squares)  # Output: [0, 4, 16, 36, 64]


#Nested List Comprehension
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flat_list = [elem for row in matrix for elem in row]
print(flat_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]


#Applying a Function
words = ["hello", "world", "python"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)  # Output: ['HELLO', 'WORLD', 'PYTHON']


#With multiple conditions
divisible_by_2_and_3 = [x for x in range(21) if x % 2 == 0 and x % 3 == 0]
print(divisible_by_2_and_3)  # Output: [0, 6, 12, 18]

#Nested List Comprehension
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flat_list = [[elem,elem*4] for row in matrix for elem in row]
print(flat_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['HELLO', 'WORLD', 'PYTHON']
[0, 6, 12, 18]
[[1, 4], [2, 8], [3, 12], [4, 16], [5, 20], [6, 24], [7, 28], [8, 32], [9, 36]]

### **Python Dictionary**

In [28]:
# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}


# Accessing values
print(my_dict["name"])  # Output: Alice
print(my_dict["age"])   # Output: 30


# Adding a new key-value pair
my_dict["email"] = "alice@example.com"
# Updating an existing key-value pair
my_dict["age"] = 31
print(my_dict)
# Output: {'name': 'Alice', 'age': 31, 'city': 'New York', 'email': 'alice@example.com'}



# Removing an entry using del
del my_dict["city"]
# Removing an entry using pop
email = my_dict.pop("email")
print(my_dict)
# Output: {'name': 'Alice', 'age': 31}
print(email)
# Output: alice@example.com


# Iterating through keys
for key in my_dict:
    print(key)
# Output:
# name
# age

# Iterating through values
for value in my_dict.values():
    print(value)
# Output:
# Alice
# 31

# Iterating through key-value pairs
for key, value in my_dict.items():
    print(f"{key}: {value}")
# Output:
# name: Alice
# age: 31

Alice
30
{'name': 'Alice', 'age': 31, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 31}
alice@example.com
name
age
Alice
31
name: Alice
age: 31

**Dictionary Nesting**

In [29]:
# Simple nested dictionary
person = {
    "name": "Alice",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "zipcode": "10001"
    }
}
print(person)


# Dictionary containing a list of dictionaries
employees = {
    "department": "Engineering",
    "employees": [
        {"name": "Alice", "role": "Engineer", "id": 1},
        {"name": "Bob", "role": "Senior Engineer", "id": 2},
        {"name": "Charlie", "role": "Intern", "id": 3}
    ]
}

print(employees)
print(employees["employees"][1]["name"])  # Output: Bob

{'name': 'Alice', 'age': 30, 'address': {'street': '123 Main St', 'city': 'New York', 'zipcode': '10001'}}
{'department': 'Engineering', 'employees': [{'name': 'Alice', 'role': 'Engineer', 'id': 1}, {'name': 'Bob', 'role': 'Senior Engineer', 'id': 2}, {'name': 'Charlie', 'role': 'Intern', 'id': 3}]}
Bob

**Dictionary Comprehension**

In [30]:
# Creating a dictionary with numbers as keys and their squares as values
squares = {x: x**2 for x in range(5)}
print(squares)


# Creating a dictionary with even numbers as keys and their squares as values
even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
print(even_squares)


# Creating a nested dictionary with squares and cubes of numbers
nested_dict = {x: {'square': x**2, 'cube': x**3} for x in range(3)}
print(nested_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{0: {'square': 0, 'cube': 0}, 1: {'square': 1, 'cube': 1}, 2: {'square': 4, 'cube': 8}}

## **Lab Task**

**Write a Python code for the following scenario:**

**Suppose an instructor of a class wants to maintain record of his students in a python dictionary data structure. The designed system asks the instructor for a record of each student one by one as a console input and passes it through a set of sequential steps before generating a dictionary data structure.**

**Write a Python script to perform following set of operations to generate dictionary of data for students.**

**1. The script should ask the instructor repeatedly for a “student ID”, “name” and his “residential city name” and store it in three different lists. If the instructor types “stop” the loop should exit.**

**2. Traverse the three lists generated in “part 1” and create a dictionary data structure out of it. The script should take ID of student as a Key of the dictionary and rest of the attributes as a list within that dictionary in following sequence: {1:[“name”,”city”]}**

**Once dictionary is created, the instructor should be able to query the data. He should provide ID of the student as a console input and script should return the name and city of the student.**

In [36]:
student_id = []
name = []
city = []

student_data = {}

while True:
  student_id_input = input("Enter student ID (type 'stop' to exit): ")

  if student_id_input.lower() == 'stop':
    break

  student_id.append(student_id_input)

  name_input = input("Enter student name: ")
  name.append(name_input)

  city_input = input("Enter student city: ")
  city.append(city_input)

print("Loop stopped")

Enter student ID (type 'stop' to exit): 1
Enter student name: Awais
Enter student city: Chakwal
Enter student ID (type 'stop' to exit): 2
Enter student name: Iqrar
Enter student city: Kashmir
Enter student ID (type 'stop' to exit): 3
Enter student name: Multan
Enter student city: Haroon
Enter student ID (type 'stop' to exit): stop

In [37]:
for i in range(len(student_id)):
  student_data[student_id[i]] = [name[i], city[i]]

print(student_data)

{'1': ['Awais', 'Chakwal'], '2': ['Iqrar', 'Kashmir'], '3': ['Multan', 'Haroon']}

In [38]:
query_id = input("Enter student ID to query:")

if query_id in student_data:
  print(f"Student Name: {student_data[query_id][0]}")
  print(f"Student City: {student_data[query_id][1]}")

Enter student ID to query:2
Student Name: Iqrar
Student City: Kashmir

# **References:**

https://realpython.com/videos/scripts-modules-packages-and-libraries/#:~:text=04%3A41%20Packages%20are%20a,Python%20scripts%20without%20any%20issues.